<div>

    <h2>Borrowers</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveBorrowerModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Borrower</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveBorrowerModal" tabindex="-1" role="dialog" aria-labelledby="myBorrowerLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myBorrowerLabel">Create or edit a Borrower</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="borrower.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>TakenDate</label>
                            <input type="datetime-local" class="form-control" name="takenDate"
                                   ng-model="borrower.takenDate" ng-model-options="{timezone: 'UTC'}">

                        </div>
                        <div class="form-group">
                            <label>ReturnDate</label>
                            <input type="datetime-local" class="form-control" name="returnDate"
                                   ng-model="borrower.returnDate" ng-model-options="{timezone: 'UTC'}">

                        </div>

                        <div class="form-group">
                            <label>borrower</label>
                            <select class="form-control" name="borrower" ng-model="borrower.borrower.id" ng-options="user.id as user.firstName for user in users">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>bookId</label>
                            <select class="form-control" name="bookId" ng-model="borrower.bookId.id" ng-options="book.id as book.title for book in books">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteBorrowerConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(borrower.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Borrower?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TakenDate</th>
                    <th>ReturnDate</th>
                    <th>borrower</th>
                    <th>bookId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="borrower in borrowers">
                    <td><a ui-sref="borrowerDetail({id:borrower.id})">{{borrower.id}}</a></td>
                    <td>{{borrower.takenDate}}</td>
                    <td>{{borrower.returnDate}}</td>
                    <td>{{borrower.borrower.firstName}}</td>
                    <td>{{borrower.bookId.title}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="borrowerDetail({id:borrower.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(borrower.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(borrower.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
